<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Home</title>
    <%- include("telas/header") %>
</head>

<body>

    <div class="container wow animated fadeInDown">
        <div class="centralizar">
            <div class="nav-content">
                <div class="nav-logo">
                    <img src="./public/img/logo.png" alt="">
                </div>
                <div class="nav-text">
                    <div class="centralizar">
                        <a href="#sobre">Sobre</a>
                        <a href="#adotar">Adoção</a>
                        <a href="#contato">Contato</a>
                        <button type="button" class="btn-doar dog" data-bs-toggle="modal" data-bs-target="#exampleModal"> Doar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-personalizado">
                <div class="modal-content">
                    
                    <h1>Doar</h1>
                    <a>Faça sua doação para ajudar o lar da Silvana!</a>

                    <div class="opc-doar">
                        
                        <div class="box-donate">
                            <img src="./public/img/donate/pix.png" alt="">
                            <h2 id="pix"><i class="fa-regular fa-copy"></i> larsilvanablumenau</h2>
                            <button onclick="pix()"> Copiar </button>
                        </div>

                        <div class="box-donate vakinha">
                            <img id="vakinha" src="./public/img/donate/vakinha.png" alt="">
                            <h2>Vakinha</h2>
                            <button onclick="newTab('https://www.vakinha.com.br/vaquinha/ajude-a-manter-este-projeto-vivo-ajude-o-lar-silvana')"> Doar </button>
                        </div>

                        <div class="box-donate">
                            <img src="./public/img/donate/apoiase.png" alt="">
                            <h2>Apoia-Se</h2>
                            <button onclick="newTab('https://apoia.se/ajudeolarsilvana')"> Doar </button>
                        </div>

                    </div>

                    <div class="agradecimentos">
                        
                        <div class="agradecimentos-img">
                            <img src="./public/img/donate/dog.png" alt="">
                        </div>

                        <div class="agradecimentos-conteudo">
                            <h1>Obrigado</h1>
                            <a>Queremos expressar nossa profunda gratidão pela sua generosa doação. Com seu apoio, podemos continuar nossa missão de cuidar e encontrar lares amorosos para os cãezinhos resgatados. Obrigado por fazerem parte dessa jornada conosco.</a>
                        </div>

                    </div>

                    <div class="close-modal ">
                        <button type="button" class="close" data-bs-dismiss="modal"> Fechar </button>
                    </div>

               </div>
            </div>
    </div>

    <div class="container apresentacao wow animated fadeInLeft">
        <div class="centralizar">
            <div class="grid-apresentacao">

                <div class="apresentacao-text">
                    <h1><i class="fa-solid fa-paw"></i> Lar Silvana</h1>
                    <a>No Lar Silvana, nossa missão é simples: promover o amor e o bem-estar dos nossos amigos de quatro
                        patas. Somos uma instituição dedicada ao resgate, cuidado e adoção de cães abandonados e
                        maltratados. Fundado com paixão e compromisso, nosso lar é um refúgio para aqueles que precisam
                        de uma segunda chance.</a>
                    <a id="blue">Guiados pela crença de que todo cachorro merece um lar amoroso e uma família para
                        chamá-lo de seu, trabalhamos incansavelmente para proporcionar o melhor cuidado possível a cada
                        um dos nossos residentes peludos. Desde cãezinhos jovens até os mais idosos, cada um deles tem
                        uma história para contar e um coração cheio de amor para compartilhar.</a>
                </div>

                <div class="apresentacao-img">
                    <img src="./public/img/dog.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="container wow animated fadeInUp" data-wow-delay="0.5s" id="sobre">
        <div class="grid-sobre">
            <div class="sobre-text">
                <h1>Sobre Nós</h1>
                <a>Em 2013, Silvana, uma apaixonada por cães, abriu o "Lar da Silvana", um refúgio para cães abandonados. Com amor e dedicação, ela transformou sua casa em um lar acolhedor para cachorros desamparados da cidade. Ao longo dos anos, o lar cresceu, ganhando o carinho da comunidade e voluntários que se uniram à causa. Cada cãozinho recebia cuidados médicos, amor e a chance de encontrar um novo lar. As histórias de superação e amizade entre humanos e cães se tornaram lendárias na região. Em 2024, o "Lar da Silvana" continuava sua missão, espalhando alegria e esperança para todos os animais que passavam por lá.</a>

                <div class="classes-sobre">

                    <div class="box-classes wow animated fadeInUp" data-wow-delay="0.3s">
                        <div class="caixa">
                            <img src="./public/img/icon/casa.png" alt="">
                        </div>
                        <div class="texto-caixa">
                            <h5>Fundação</h5>
                            <a>Iniciativa inspirada por amantes de cães dedicados.</a>
                        </div>
                    </div>

                    <div class="box-classes wow animated fadeInUp" data-wow-delay="0.6s">
                        <div class="caixa">
                            <img src="./public/img/icon/tree.png" alt="">
                        </div>
                        <div class="texto-caixa">
                            <h5>Expansão</h5>
                            <a>De um pequeno esforço voluntário a um refúgio estabelecido.</a>
                        </div>
                    </div>

                    <div class="box-classes wow animated fadeInUp" data-wow-delay="0.8s">
                        <div class="caixa">
                            <img src="./public/img/icon/dog.png" alt="">
                        </div>
                        <div class="texto-caixa">
                            <h5>Impacto</h5>
                            <a>Transformando vidas de cães abandonados e encontrando lares amorosos.</a>
                        </div>
                    </div>

                    <div class="box-classes wow animated fadeInUp" data-wow-delay="1s">
                        <div class="caixa">
                            <img src="./public/img/icon/cadeado.png" alt="">
                        </div>
                        <div class="texto-caixa">
                            <h5>Compromisso</h5>
                            <a>Renovando a missão de oferecer uma segunda chance a cada cão desamparado.</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sobre-img wow animated fadeInRight">
                <img src="./public/img/cachorropng.png" alt="">
            </div>

        </div>
    </div>

    <div class="container wow animated fadeInUp" data-wow-delay="0.5s">
        <div class="grid-historia">

            <div class="historia-img ">
                <img src="./public/img/lala.png" alt="">
                <h2>Silvana <span>Ceo</span></h2>
                <p>Fundadora</p>
            </div>

            <div class="historia-texto">
                <h2>História</h2>
                <h3>Lar Da Silvana</h3>

                <div class="historia">
                    <img id="aspas2" src="./public/img/aspas2.png" alt="">
                    <img id="aspas1" src="./public/img/aspas1.png" alt="">

                    <div class="historia-txt">
                        <a>Eu sou a <span>Silvana</span> e sou fundadora e responsável pelo Lar Silvana, uma entidade
                            sem fins lucrativos, com sede em Blumenau/SC, que tem como objetivo acolher animais em
                            situação de perigo e abandonados nas ruas da cidade.
                            Nos últimos 11 anos, que é o período que nosso lar existe, já passaram por aqui mais de
                            <span>5.000</span> cachorrinhos que foram acolhidos, tratados, alimentados, vacinados,
                            castrados, amados e encaminhados para bons lares, depois de terem sido, muitas vezes,
                            maltratados e terem morado na rua. Nós, do Lar Silvana, lutamos junto à causa animal da
                            cidade, para ajudar o máximo possível nossos amiguinhos que precisam.
                            É uma jornada gratificante, mas muito dura e cheia de barreiras. Precisamos manter toda uma
                            estrutura para acolher os cachorrinhos, para dar todo o suporte necessário. Mas para que
                            isso possa acontecer, precisamos sempre levantar doações e fundos para as ações.
                            Em média, passam por mês no meu lar <span>mais de cinquenta animais</span>, que muitas vezes
                            <span>passam por veterinários, são castrados, vacinados e precisam se alimentar</span>. Os
                            custos são altos e, para continuar com meu trabalho ajudando nossos amiguinhos de quatro
                            patas, eu preciso de ajuda para custear a acessória que damos a eles, e espero contar com a
                            sua ajuda.
                            Você poderia ajudar a nossa causa?
                            Toda a ajuda é bem-vinda!</a>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="container adotados">

        <div class="title-adotados">
            <h1>Já Adotados</h1>
            <h3>Alguns de nossos animais já adotados</h3>
        </div>

        <div class="grid-adotados">
            
            <div class="box-adotado wow animated fadeInUp" data-wow-delay="0.2s">
                <img id="waw2" src="./public/img/waw2.png" alt="">
                <img id="adotado" src="./public/img/adotados/Rocky.jpg" alt="">
                <h2>Rocky</h2>
            </div>

            <div class="box-adotado wow animated fadeInUp" data-wow-delay="0.5s">
                <img id="waw2" src="./public/img/waw2.png" alt="">
                <img id="adotado" src="./public/img/adotados/vasco.jpg" alt="">
                <h2>Vasco</h2>
            </div>

            <div class="box-adotado wow animated fadeInUp" data-wow-delay="0.8s">
                <img id="waw2" src="./public/img/waw2.png" alt="">
                <img id="adotado" src="./public/img/adotados/Precioso.jpg" alt="">
                <h2>Precioso</h2>
            </div>

            <div class="box-adotado wow animated fadeInUp" data-wow-delay="1s">
                <img id="waw2" src="./public/img/waw2.png" alt="">
                <h1 class="wow" id="counter">5000</h1>
                <a>Animais Adotados</a>
            </div>

        </div>
    </div>

    <div class="container adotar-ja wow animated fadeInUp" id="adotar">
        <div class="grid-adote-ja">
            
            <div class="adotar-conteudo">
                <h1>Adote Já</h1>
                <a>Adotar um cachorro ou um gato pode trazer muitos benefícios à vida de uma pessoa. Além de serem ótimas companhias, os animais de estimação ajudam a combater a solidão e o estresse, promovem a prática de atividades físicas e ensinam <span>responsabilidade</span> e <span>cuidado</span> com outros seres vivos.</a>
            </div>

            <div class="adotar-box">
                <img src="./public/img/doguinho.png" alt="">
                    <h1>Interessado?</h1>
                    <h2>Temos vários Animais esperando por voce!</h2>
                    <button onclick="newTab('https://api.whatsapp.com/send/?phone=5547992721258&text=Ol%C3%A1!%20Estou%20interessado%20em%20adotar%20um%20animal.%20Voc%C3%AAs%20t%C3%AAm%20algum%20dispon%C3%ADvel?%20&type=phone_number&app_absent=0')">Adotar</button>
            </div>

        </div>
    </div>

    <%- include("telas/footer") %>
</body>

</html>