
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="./public/js/wow.js"></script>
<script src="./public/js/script.js"></script>

<script>new WOW().init();</script>

<div id="footer" class="container wow animated fadeInUp" data-wow-delay="0.5s">
    <footer id="contato">
        
        <div class="grid-footer">
            
            <div class="footer-img">
                <img src="./public/img/dog-icon.png" alt="">
            </div>

            <div class="footer-contato">
                <h3>Contatos</h3>
                <a onclick="newTab('https://www.instagram.com/protetorasilvanapereira/')"><i class="fa-brands fa-instagram"></i> @protetorasilvanapereira</a>
                <a onclick="newTab('https://www.facebook.com/Silvanalartemporario/')"><i class="fa-brands fa-facebook"></i> Silvanalartemporario</a>
                <a onclick="newTab('https://api.whatsapp.com/send/?phone=5547992721258&text=Ol%C3%A1&type=phone_number&app_absent=0')"><i class="fa-brands fa-whatsapp"></i> Silvana</a>
            </div>

            <div class="footer-extras">
                <h3>Localização</h3>
                <a>Rua Dr. Pedro Zimmermann, 11892 Vila Itoupava, <span>Blumenau</span> - SC, 89069-005</a>
                <h3>Criação</h3>
                <a id="me" onclick="newTab('https://www.facebook.com/santiago.trevisol.904750')"><i class="fa-solid fa-hammer"></i> Santiago de Andrade</a>
            </div>

        </div>

        <div class="copyright">
            <a>Copyright <Span>Lar Silvana</Span> 2024</a>
        </div>

    </footer>
</div>